@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {color: inherit; text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
img {vertical-align: top; max-width: 100%;}
button {cursor: pointer;}
body {background: #ffffff; color: #333333; font-family: "맑은 고딕";}

header{width: 1200px; height: 100px; background: rgb(80, 80, 255); margin: 0 auto; padding-top: 25px; padding-left: 30px; display: flex; position: relative;}
header>h1>a>img {width: 200px; height: 40px;}
nav>ul {display: flex; position: absolute; top: 53px; right: 0;}
nav>ul>li>a{display: block; width: 150px; background: skyblue; padding: 10px; color: #fff; text-align: center; font-weight: bold; font-size: 20px; }
.sub a {display: block; text-align: center; padding: 10px; font-size: 20px; background: #fff;}
header>nav>ul>li>a:hover,
header>nav>ul>li>a:focus,
header>nav>ul>li>a.on {background: rgb(69, 169, 208);}
.sub>li>a:hover,
.sub>li>a:focus{background: rgb(185, 235, 255); color: #747474;}
.sub{display: none;}

.slide {width: 1200px; height: 300px; background: #efefef; margin: 0 auto; position: relative; overflow: hidden;}
.slide > ul { width: 3600px; position: absolute; top: 0; left: 0;}
.slide>ul>li {width: 1200px; height: 300px; position: relative;}
.slide>ul>li>a {display: block; height: 100%;}
.slide>ul>li.s1 {background: url(../img/s1.jpg) no-repeat center/cover;}
.slide>ul>li.s2 {background: url(../img/s2.jpg) no-repeat center/cover;}
.slide>ul>li.s3 {background: url(../img/s3.jpg) no-repeat center/cover;}
.slide>ul>li>a>h2{position: absolute; top: 50%; left: 50%; color: #fff; font-size: 50px; transform: translate(-50%, -50%);}


.contents{width: 1200px; height: 200px; margin: 0 auto; display: flex;}
.contents .notice {width: 400px; height: 100%; padding-right: 20px;}
.notice>a{display: block; border-bottom: 1px solid skyblue}
.notice h2 {padding: 10px; width: 120px; background: skyblue; color: white;}
.notice table a{display: block; margin-top: 10px;}
table tr {text-align: left;  border-bottom: 1px solid #747474;}
table tr th{padding-bottom: 3px;}

.contents .gall {width: 400px; height: 100%;}
.gall>a{display: block; border-bottom: 1px solid skyblue}
.gall h2 {padding: 10px; width: 120px; background: skyblue; color: white;}
.gall ul{display: flex; gap: 10px;  padding: 10px; margin-top: 15px;}

.contents .go {width: 400px; height: 100%; padding-top: 50px;}
.go a{display: block;}
.go ul {display: flex; justify-content: center; text-align: center; gap: 20px;}
.go ul li {justify-content: center; align-items: center; background-color:rgb(80, 80, 255); padding: 20px; border-radius: 10px;}
.go ul li p{margin-top: 10px; font-size: 20px; font-weight: bold; color: #fff;}

footer {width: 1200px; height: 100px; background: #c5c5c5; margin: 0 auto;}
